* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #0f0f0f; /* modern dark */
  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(
    12px
  ); /*for Safari / WebKit browsers, compability*/

  padding: 2rem;
  border-radius: 20px;
  width: 350px;

  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);

  color: white;
}

.container h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

.container p {
  font-size: 0.9rem;
  color: #bdbdbd;
  margin-bottom: 5px;
}

.container input {
  width: 100%;
  border-radius: 10px;
  padding: 12px;
  background: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.15);
  color: white;
  font-size: 1rem;
  outline: none;
}

.container input:focus {
  border-color: #4f8cff;
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem 0;
}

.select-container {
  display: flex;
  align-items: center;
  gap: 10px;

  background: rgba(255, 255, 255, 0.06);
  padding: 8px 10px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.15);
}

select {
  background: transparent;
  border: none;
  color: white;
  font-size: 1rem;
  outline: none;
  cursor: pointer;
}

.dropdown i {
  color: #4f8cff;
  font-size: 1.2rem;
  cursor: pointer;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 12px;
  background: #4f8cff;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #3b78e0;
}


